* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main_header_container_1 {
    background-color: #004d99; /* Azul oscuro */
    color: #fff700; /* Amarillo brillante */
    text-align: center;
    padding: 1rem;
}

.main_header_title {
    text-align: center;
    font-size: 2.5em;
    margin: 10px 0;
    color: rgb(62, 42, 42);
}

.main_nav {
    display: none;
}

.main_header_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon_menu {
    font-size: 1.5em;
    border: 1px solid rgb(0, 0, 198);
    display: block;
    padding: 10px 20px;
}

.main_header_btn {
    display: block;
    padding: 10px 25px;
    color: rgba(149, 88, 52, 0.961);
    border: 1px solid rgb(205, 18, 196);
    text-decoration: none;
}

.main_header_input {
    display: block;
    padding: 10px;
}

/* INICIO */
.inicio-stylex {
    background: linear-gradient(to right, #f9f9f9, #ececec);
    text-align: center;
    padding: 60px 20px;
}

.inicio-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.inicio-content h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #1e1e1e;
}

.inicio-content p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.btn-inicio {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    background-color: #1e1e1e;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
}

.btn-inicio:hover {
    background-color: #f7c948;
    color: #1e1e1e;
}

/* SLIDER */
.container-slider {
    margin: 50px 0;
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    width: 400%;
    height: 400px;
    margin-left: -100%;
}

.slider__section {
    width: 100%;
}

.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen se recorte para cubrir todo el espacio */
}

.slider__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.slider__btn:hover {
    background: #fff;
}

.slider__btn--left {
    left: 10px;
}

.slider__btn--right {
    right: 10px;
}

/* Imagen global */
img {
    display: block;
    width: 100%;
}
